<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.healthhelper">

    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <user-permission android:name="android.permission.VIBRATE"/>
    <application
        android:name=".app.HealthHelperApp"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.MainActivity"
            android:label="健康助手"
            android:launchMode="singleTask"/>
        <activity android:name=".ExtraWater" />
        <activity
            android:name=".activity.SettingsActivity"
            android:theme="@style/SettingTheme"/>
        <activity android:name=".activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.WelcomeGuideActivity" />
        <activity android:name=".activity.WelcomeInfoCollect" />
        <activity android:name=".MedicineList" />
        <activity android:name=".component.NewNote"></activity>

        <service
            android:name=".service.TimeService"
            android:enabled="true"
            android:exported="true"></service>
    </application>

</manifest>